#loading-bar-spinner.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 19 !important;
  animation: loading-bar-spinner 600ms linear infinite;
}

#loading-bar-spinner.spinner .spinner-icon {
  width: 75px;
  height: 75px;
  border: solid 4px transparent;
  border-top-color: white !important;
  border-left-color: white !important;
  border-radius: 50%;
}

@keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
